# ignore file
*~
*.lo
*.o
*.orig
.dirstamp
.dstamp
.libs
/build-aux
/.settings
m4/*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
/data/org.gnome.EasyTAG.metainfo.xml
/data/org.gnome.EasyTAG.desktop
/doc/easytag.1
/doc/version.xml
/share/glib-2.0/schemas/gschemas.compiled
/doc/version.xml
/easytag
/easytag-*.tar.xz
/easytag-*-setup.exe
/easytag-win32-installer.nsi
/easytag.exe
/help/*/*.mo
/help/??*/*.page
/help/*/*.stamp
/help/*/legal.xml
/help/easytag.pot
!/help/C
/ABOUT-NLS
/INSTALL
/libtool
/org.gnome.EasyTAG.enums.xml
/po/*.header
/po/*.gmo
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/Rules-quot
/po/easytag.pot
/po/stamp-it
/po/stamp-po
/src/.deps/
/src/tags/id3lib/.deps/
/src/tags/libapetag/.deps/
/src/tags/.deps/
/src/win32/.deps/
/src/win32/easytag.rc
/src/enums.c
/src/enums.h
/src/resource.c
/src/resource.h
/????-report.html
/????-report.xml
/test-suite.log
/tests/.deps/
/tests/test-*
!/tests/*.c
!/tests/*.cc
stamp-h1
